.shoe-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.add-button:hover {
  background-color: #0056b3;
}

.search-bar {
  margin: 20px 0;
}

.shoe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.shoe-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.shoe-card img {
  width: 100%;
  height: auto;
}

.shoe-detail-card {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.detail-content {
  text-align: center;
}

.detail-content img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.edit-button,
.delete-button{
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Added to remove underline */
  display: inline-block; /* Ensures the button sizing is correct */
}
.view-details-button {
  padding: 1px 5%;
  margin: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none; /* Added to remove underline */
  display: inline-block; /* Ensures the button sizing is correct */
}

.edit-button:hover,
.delete-button:hover,
.view-details-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

.close-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Added to remove underline */
  display: inline-block; /* Ensures the button sizing is correct */
}

.close-button:hover {
  background-color: #5a6268;
}
